body { 
    background: url(/img/pokemon/common/pattern.svg);
    font-family: "Sawarabi Gothic";
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    width: 100%;
}
p {
    margin: 0;
}
* {
    box-sizing: border-box;
}

::selection {
    background-color: none;
}